<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FAVICON ===============-->
    <link
      rel="shortcut icon"
      href="asset/img/favicon.png"
      type="image/x-icon"
    />

    <!--=============== BOXICONS ===============-->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="asset/css/swiper-bundle.min.css" />

    <!--=============== LIGHTBOX CSS ===============-->
    <link rel="stylesheet" href="asset/css/lightbox.css" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="asset/css/style.css" />

    <title>Rent4Less</title>
  </head>
  <body>
    <div class="login">
      <section class="login__left">
        <div class="form">
          <div class="form__logo">
            <h1>Remit</h1>
          </div>
          <div class="form__message">
            <h2>Welcome!</h2>
            <p>Sign in by entering the information below</p>
          </div>
          <div class="form__signupform">
            <form action="">
              <fieldset>
                <label for="email">Email Address</label>
                <input
                  type="text"
                  id="email"
                  name="email"
                  v-model="email"
                  required
                />
              </fieldset>
              <fieldset>
                <label for="email">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  v-model="password"
                  required
                />
              </fieldset>
              <div class="form__signupform--remember">
                <span class="check">
                  <input
                    type="checkbox"
                    v-model="remember"
                    id="rememberme"
                    name="rememberme"
                  />
                  <label for="rememberme">Remember Me</label>
                </span>
                <span>
                  <a href="">Forgotten Password?</a>
                </span>
              </div>
              <button @click="handleClick">Continue</button>
              <div class="form__signupform--new">
                <p>
                  Don't have an account? Create one
                  <a href="#">here</a>
                  .
                </p>
              </div>
            </form>
            <span class="form__copy">&copy; 2017 Remit</span>
          </div>
        </div>
      </section>
      <section class="login__right">
        <div class="div-1"></div>
        <div class="div-2"></div>
        <div class="div-3"></div>
        <div class="div-4"></div>
        <div class="div-5"></div>
      </section>
    </div>
  </body>
</html>
