// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-smaller: 25em; // 400px;
$bp-smallest: 20em; // 300px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: $color-primary-light;
  color: $color-grey-light-1;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;

  @media only screen and (min-width: 2048px) {
    zoom: 1.5;
  }

  @media only screen and (min-width: 3840px) {
    zoom: 2;
  }

  &.bg-grey-light {
    background-color: $color-grey-light-1;
  }

  &.dark-theme {
    background-color: $dark-body-color;

    .navbar {
      &.scroll-navbar {
        background-color: $dark-body-color;
      }

      span {
        color: $color-grey-light-2;

        &:hover {
          color: $color-primary-light;
        }
      }
    }

    .section__title {
      color: $color-white;
    }

    .btn {
      box-shadow: none;
    }

    [class*="exclusive__card"] {
      background-color: $color-white;
      padding-bottom: 2rem;

      .btn {
        margin-top: 2rem;
      }
    }

    .join__title,
    .about__title {
      color: $color-grey-dark-4;
    }
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: $font-primary;
  outline: none;
  border: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: $bp-largest) {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.section {
  padding: 5rem 0;

  &__subtitle,
  &__title {
    text-align: left;
  }

  &__title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: $color-grey-dark-4;

    span {
      color: $color-primary-light;
    }
  }

  &__subtitle {
    display: block;
    font-size: 1.4rem;
    color: $color-primary-secondary;
  }

  &__description {
    font-size: $default-font-size;
    margin-bottom: 1.5rem;
  }
}

.main {
  overflow: hidden; /* For the animations ScrollReveal*/
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, 1fr)
    [center-end] minmax(6rem, 1fr)
    [full-end];

  &__list {
    overflow: initial;
  }

  &__wrapper {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 4rem;
    row-gap: 2rem;
  }
}
