/*=============== BUTTON ===============*/

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 8px 16px;
  box-shadow: 0 4px 8px rgba($color-primary-secondary, 0.25);
  font-size: $default-font-size;
  transition: 0.3s;
}

.btn:hover {
  background: linear-gradient(
    $color-primary-light,
    $color-primary-secondary,
    0.25
  );
}

.button {
  background: linear-gradient(
    101deg,
    $color-primary-light,
    $color-primary-secondary
  );
  color: #fff;
  padding: 8px 16px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba($color-primary-secondary, 0.25);

  &:hover {
    background: transparent;
    border: 1px solid $color-primary-secondary;
    color: $color-primary-secondary;
    border-radius: 0;
  }
}

.button__outlined {
  display: inline-block;
  background: transparent;
  border: 1px solid $color-primary-secondary;
  color: $color-primary-secondary;

  &:hover {
    background: linear-gradient(
      101deg,
      $color-primary-light,
      $color-primary-secondary
    );
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba($color-primary-secondary, 0.25);
  }
}

/*=============== SECTION BUTTON ===============*/
.destination__button,
.exclusive__button {
  margin-top: 5rem;
  transition: 0.4s;
}

/*=============== SWIPER BUTTON ===============*/
/* Swiper class */
.swiper-button-prev::after,
.swiper-button-next::after,
.swiper-button-single-next::after,
.swiper-button-single-prev::after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  top: 4rem;
  width: initial;
  height: initial;
  background-color: $color-primary-light;
  padding: 1rem;
  font-size: 1.5rem;
  color: $color-white;
  z-index: 2;
  transition: all 0.4s ease;
  cursor: pointer;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: $color-primary-secondary;
  color: $color-white;
}

.swiper-button-prev:active,
.swiper-button-next:active,
.swiper-button-single-prev:active,
.swiper-button-single-next:active {
  outline: 1rem solid $color-primary-light;
  outline-offset: 0.5rem;
}

.swiper-button-prev {
  left: calc(100% - 8rem);
}
.swiper-button-next {
  right: 0;
}

.swiper-button-single-next,
.swiper-button-single-prev {
  opacity: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 4;
  top: 50%;
  width: initial;
  height: initial;
  background-color: $color-primary-light;
  padding: 1rem;
  font-size: 1.5rem;
  color: $color-white;
  z-index: 2;
  transition: all 0.4s ease;

  &:hover {
    background-color: $color-primary-secondary;
  }
  i {
    font-size: 2.4rem;
  }
}

.swiper-button-single-prev {
  left: 0rem;
}
.swiper-button-single-next {
  right: 0rem;
}

/* Swiper Button Disabled */
.swiper-button-disabled {
  background-color: rgba(0, 128, 0, 0.467);
  color: $color-grey-light-2;

  &:hover {
    cursor: not-allowed;
    background-color: rgba(0, 128, 0, 0.467);
  }

  &:active {
    outline: none;
  }
}
