// Get @include importing from mixins directory

.destination {
  grid-column: center-start / center-end;

  &__wrapper {
    margin-top: 15rem;
    text-align: center;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: minmax(12rem, 1fr);
    gap: 2rem;
  }

  &__item {
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(21, 21, 21, 0.49);
      transition: 0.3s;
      z-index: 1;
    }
  }

  &__img {
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: all 0.4s ease;
    }
  }

  &__content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__title,
  &__description {
    font-size: $default-font-size;
    color: #fff;
    text-align: center;
  }

  &__item:hover &__img img {
    transform: scale(1.1);
  }

  &__item:hover {
    &::after {
      background-color: rgba(21, 21, 21, 0.8);
    }
  }
}

.popular {
  grid-column: center-start / center-end;

  &__wrapper {
    position: relative;
  }

  &__container {
    padding: 1rem 1.5rem;
  }

  &__card {
    @include Card;
  }

  &__img {
    @include Img;
  }

  &__card:hover &__data {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &__card:hover &__img {
    @include CardHoverImg;
  }

  &__data {
    position: absolute;
    bottom: 2rem;
    left: 0;
    color: #fff;
    padding: 2rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10rem);
    z-index: 2;
    transition: 0.6s;
    transition-delay: 0.3s;
  }

  @include DataText;
}

.featured {
  grid-column: center-start / center-end;

  &__wrapper {
    position: relative;
  }

  &__container {
    padding: 1rem 1.5rem;
  }

  &__card {
    @include Card;
  }

  &__card:hover &__img {
    @include CardHoverImg;
  }

  &__badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: block;
    z-index: 10;

    span {
      background-color: $color-primary-secondary;
      font-family: inherit;
      text-transform: uppercase;
      color: $color-white;
      float: left;
      transform: rotate(-45deg);
      left: -67px;
      top: 17px;
      position: relative;
      text-align: center;
      width: 200px;
      font-size: 1.4rem;
      margin: 0;
      padding: 6px;
      font-weight: 400;
    }
  }

  &__img {
    @include Img;
  }

  &__data {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    border-radius: 0 0 1rem 1rem;
    z-index: 2;
    transition: 0.6s;
    transition-delay: 0.3s;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, #0e0e0e);
    transition: all 0.4s;
    overflow: hidden;
  }

  @include DataText($padding: 0rem 2rem);

  &__content {
    display: flex;
    overflow: hidden;
    padding: 0.5rem 2rem;
    justify-content: space-between;
    background-color: $color-primary-secondary;
    border-radius: 0 0 1rem 1rem;

    //MIXIN TO HANDLE THE HIDDEN CONTENT
    @include Hidden($visibility: hidden, $height: 0rem, $opacity: 0);

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.6rem;
      transition: 0.4s;

      span {
        display: block;

        i {
          margin-right: 0.5rem;
          font-size: 1.8rem;
        }
      }
    }
  }

  &__card:hover &__content {
    @include Hidden($visibility: visible, $height: 6rem, $opacity: 1);
  }
}

.exclusive {
  grid-column: center-start / center-end;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__container {
    width: 100%;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
  }

  &__card {
    @include Card;
    width: auto;
    background-color: $color-grey-light-2;
    position: relative;
  }

  &__img {
    height: 300px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 70%);
    z-index: 5;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__data {
    margin: 2rem;
  }
  @include DataText($padding: 0rem 2rem);

  &__title {
    // display: inline-block;
    font-size: 1.6rem;
    background-color: $color-primary-secondary;
    padding: 40px 10px 10px 10px;
    text-align: center;
    color: white;
    position: absolute;
    top: 200px;
    left: 20px;
    z-index: 1;
  }

  &__description {
    padding: 0rem;
  }
}
