.main__list {
  overflow: initial;
}

.main__wrapper {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 4rem;
  row-gap: 2rem;
}

.description,
.filter,
.listing {
  padding-top: 2.5rem;
  padding-bottom: 0;
}

.description {
  grid-column: 3 / -1;

  &__heading {
    font-size: 3rem;
    color: $color-primary-secondary;
  }

  &__subheading {
    font-size: 1.8rem;
  }

  &__text {
    font-size: 1.4rem;
    color: $color-black;
  }
}

.filter {
  grid-column: 1 / span 2;

  &__wrapper {
    border: 1px solid #bdbdbd;
    background-color: $color-white;
    color: rgb(33, 37, 41);
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &--sticky {
      position: sticky;
      top: 50px;
    }
  }

  &__header {
    padding: 2rem;
    border-bottom: 1px solid #bdbdbd;
    display: flex;
    align-items: center;

    i {
      color: $color-primary-secondary;
      font-size: 1.8rem;
    }

    h2 {
      font-size: 1.6rem;
      font-weight: 400;
      margin-left: 1rem;
    }
  }

  &__body {
    padding: 2rem;

    .filter__range {
      display: block;
      text-align: left;

      &--title {
        margin-bottom: 1.5rem;
        &-name {
          font-size: 1.4rem;
          font-weight: 600;
        }
      }

      &--type {
        display: block;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }

        a {
          display: grid;
          grid-template-columns: 2rem 1fr;
          align-items: center;
          font-size: $default-font-size;
          color: inherit;

          &:hover {
            color: $color-primary-secondary;
          }

          input {
            width: 1.8rem;
            height: 1.6rem;
            margin-right: 1rem;
          }

          li {
            font-size: 1.2rem;
            text-decoration: none;
            list-style: none;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

.listing {
  grid-column: 3 / -1;
  padding-bottom: 4.5rem;

  &__tab {
    padding: 0.5rem 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    background-color: $color-white;
    border: 1px solid #bdbdbd;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    li {
      border: 1px solid #bdbdbd;
      padding: 0.5rem;
      cursor: pointer;

      &.active {
        background-color: $color-primary-light;
        color: $color-white;
      }
    }

    i {
      font-size: 2rem;
    }
  }

  &__container {
    display: grid;

    &.active {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 4rem;
      row-gap: 0;

      .cards {
        overflow: hidden;
        grid-template-columns: 1fr;
        gap: 1rem;
        transition: 0.4s;

        &:hover {
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);

          .cards__image::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(21, 21, 21, 0.8);
            z-index: 1;
          }

          .hidden {
            color: $color-primary-light;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            font-size: 1.4rem;
          }
        }

        &__image {
          height: 200px;
          transition: all 0.4s ease;

          .hidden {
            transform: 0.4s ease;
          }
        }

        &__body {
          padding: 2rem 2rem 4rem 2rem;
          border-right: none;
          display: block;

          h6 {
            margin: 0.5rem 0;
          }

          &--title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5rem;
          }

          &--price {
            display: flex;
            visibility: visible;
            font-size: 1.8rem;
            font-weight: 700;
            color: $color-grey-dark-4;
          }
        }

        &__footer {
          display: none;
        }
      }
    }
  }
}

.cards {
  cursor: pointer;
  background-color: $color-white;
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr;
  margin-top: 3rem;
  gap: 3rem;

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
  }

  &__image {
    overflow: hidden;
    height: 250px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(21, 21, 21, 0.2);
      z-index: 1;
    }

    a {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    margin: auto 0;
    border-right: 1px solid #bdbdbd;

    &--highlight {
      display: inline-block !important;
      padding: 0.5rem;
      font-size: 1.3rem;
      color: $color-white;
      background-color: $color-primary-light;
    }

    &--price {
      display: none;
      visibility: hidden;
    }

    h6 {
      margin: 1rem 0;
      font-size: 2rem;
      font-weight: 400;
      a {
        text-decoration: none;
        color: $color-grey-dark-4;
      }
    }

    &--description {
      display: flex;
      align-items: center;
      color: $color-grey-dark-4;

      i {
        font-size: 1.6rem;
      }

      p {
        margin-left: 0.5rem;
        font-size: 1.4rem;
      }
    }

    &--list {
      margin-top: 2rem;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(4, minmax(2rem, 1fr));
      gap: 1.2rem;
      color: $color-grey-dark-4;
    }

    &--item {
      display: flex;
      flex-direction: column;
      font-size: 1.4rem;
      //   align-items: center;
    }
  }

  &__footer {
    margin: auto 0;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: 1.8rem;
    }

    &--initials {
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background-color: $color-primary-secondary;
      color: $color-grey-light-2;
    }
  }
}

// .cards.active {
//   width: 50%;
//   grid-template-columns: 1fr;
// }
