.single {
  grid-column: 1 / span 6;

  &__slider {
    position: relative;

    &::after {
      width: 100%;
      height: 40%;
      bottom: 0;
      left: 0;
      position: absolute;
      content: "";
      display: block;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 100, 0)
      );
      z-index: 2;
    }

    &--description {
      position: absolute;

      figure {
        img {
          height: 2.5rem;
        }
      }
    }

    &:hover {
      .swiper-button-single-next,
      .swiper-button-single-prev {
        opacity: 1;
      }

      .swiper-button-single-prev {
        left: 2rem;
      }

      .swiper-button-single-next {
        right: 2rem;
      }
    }

    .swiper-slide {
      height: 480px;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__thumb {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;

    .swiper-slide {
      width: 11.8rem;
      opacity: 0.4;
    }

    .swiper-slide-thumb-active {
      opacity: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
